.portfolio{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.portfolio_inner{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.portfolio img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1; /* 画像を背景よりも上に配置 */
}

.portfolio img.active {
    opacity: 1;
}

.text-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
    z-index: 2;
}

.text-overlay.active {
    opacity: 1;
}

.portfolio_comment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: white;
}

.image_credit {
    position: absolute;
            bottom: 10px;
            right: 10px;
            font-size: 0.4rem;
            color: white;
            margin: 0;
}

.custom-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}


